#gameDescription {
    border: 5px solid rgb(0, 0, 0);
}
h1 {
    text-align: center;
}
#TOC, #TOC th, #TOC td {
    border: 2px solid rgb(0, 0, 0)
}
#TOC {
    float: right;
    width: 25%;
}
.scroll-container {
    height: 200px;
    width: 60%;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 30px;
    border: 3px solid #000000;

}

